
@import url('http://fonts.cdnfonts.com/css/product-sans');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  font-family: 'Product Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* center contents using flex */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #fafafa;
  background-image: url('/public/bg.png');
  background-repeat: no-repeat;
  background-size:cover;
}
.app, stepper-body{
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  list-style: none;
  margin-top: 1rem;
  border-bottom: 1px solid #000000;
}
.nav li{
  font-size: 0.9rem;
  color: #BDBDBD;
  font-style: normal;
  font-weight: 700;
  padding: 1rem 0 1rem 0;
  border-bottom: 5px solid transparent;
}
.nav li:hover, .li-active{
  color:#F2994A;
  cursor: pointer;
  border-bottom: 5px solid #F2994A;
  z-index: 888;
}
.form-group{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 100%;
  height: 100%;
  padding: 1rem;
}
.form-group label{
  font-weight: 700;
  color: #000;
}
.form-group input{
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0.5rem;
  font-size: 1.2rem;
  margin-top: 1rem;
}
.email-description{
  color: #817E9E;
  margin-top: 0.3rem;
}
.state{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.state select{
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0.5rem;
  font-size: 1rem;
  margin-top: 1rem;
}
.btn-container{
  margin-top: 2rem;
}
.btn1{
  width: 8rem;
  height: 2rem;
  margin-right: 1rem;
  border-radius: 10px;
  border: none;
  color: #fff;
  background: linear-gradient(180deg, #F2C94C 0%, #F2994A 100%);
}
.btn2{
  color: #4e598c;
  border: none;
  background: none;
}
.card-details{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.form-group select{
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0.5rem;
  font-size: 1rem;
  margin-top: 1rem;
}
/* .table{
  border: 1px solid #817E9E;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  margin-top: 1rem;

}
.table-header tr{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #2F80ED;
  border-radius: 16px 10px 0px 0px;
} */